/*body{
    margin: 0;
}*/

/*#annolet-container{
    overflow: hidden;
    background-color: #2b849c !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 31px 31px 0px 0px;
    z-index: 99999999999999999999999;
}*/

#annolet-header{
    text-align:center;
    color: black !important;
    font-weight: bold;
    font-family: monospace;
}

#annolet-menu {
    /*list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;*/
    width: 400px;
    border: 1px #B3B3B3 solid;
    border-radius: 15px 15px 0 0 ;
    list-style: none;
    padding: 5px 20px 10px 20px;
    position: fixed;
    margin: 0 auto;
    left: 25%;
    right: 25%;
    bottom: 0;
    box-shadow: 0 10px 16px 0;
    background: rgb(247,247,247);background: -moz-linear-gradient(top, rgba(247,247,247,1) 67%, rgba(229,229,229,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(67%,rgba(247,247,247,1)), color-stop(100%,rgba(229,229,229,1)));background: -webkit-linear-gradient(top, rgba(247,247,247,1) 67%,rgba(229,229,229,1) 100%);background: -o-linear-gradient(top, rgba(247,247,247,1) 67%,rgba(229,229,229,1) 100%);background: -ms-linear-gradient(top, rgba(247,247,247,1) 67%,rgba(229,229,229,1) 100%);background: linear-gradient(to bottom, rgba(247,247,247,1) 67%,rgba(229,229,229,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 );
    z-index:9999;
}

/*.annolet-element{
    display: inline-block;
    text-align: center;
    padding: 0px 3px;
    text-decoration: none;
    font-weight: bold;
    float: left;
}

.annolet-button{
    background: #fff !important;
    color: black !important;
    border-color: #f90 !important;
    cursor: pointer;
    width: 101%;
    height: 20px;
    font-size: 88%;
    border-style: solid;
    border-width: thin;
}

.annolet-button:hover{
    background: white !important;
    color: black !important;
}

.select-menu{
    display: inline-block;
    background-color: #fff !important;
    color: black !important;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.select-menu:hover{
    background-color:white !important;
    color: black !important;
}*/









